body{
    background: url("img/fire.jpg");
    background-color: grey;

}
div {
    display: flex;
    align-items: center;
  }
table{
    table-layout: fixed;
} 
.container{
    width: 30px;
}

 th, td{
    border-radius: 25px;
    font-family: "Sofia";
    background-color: rgb(68, 66, 66);
    font-weight: bold;
    font-style: oblique;
    width: 20px;
    height: 20px;
}  
h1{
    font-family: "Sofia";
    color: white;
    letter-spacing: 3px;
}

h2{
    font-family: "Sofia";
    color: white;
    letter-spacing: 3px;
}

h4{
    font-family: "Sofia";
    color: white;
    letter-spacing: 3px;


}
h5{
    font-family: "Sofia";
    color: white;
    letter-spacing: 3px;
}

.easy-btn{
    font-family: "Sofia";
    }

.hard-btn{
    font-family: "Sofia";
        }

.extreme-btn{
     font-family: "Sofia";
         }
.timer{
    font-family: "Sofia";
    border: 3px solid white;
    background-color:white;
    width: 100px;
}
.play-btn{
   
    font-family: "Sofia";
    }
